.statistics {
  background-color: whitesmoke;
  margin: 30px auto;
  width: 500px;
  text-align: center;
}
.title {
  padding: 38px 0;
}
.statList {
  display: flex;
}
.item {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.label {
  font-size: 18px;
}
.percentage {
  font-size: 32px;
}
